body{

    display: flex;
    flex-direction: column;
    padding: 25px;

}

.header{

    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight:bolder;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    gap: 25px;
    

}

.hero{

    display: flex;
    background-color: #121212;
    color: #00ffff;
    padding: 20px; 
    justify-content: space-around;
    gap: 25px;

}

.middle{

    display: flex;
    flex-direction: column;

}

.context{

    display: flex;
    justify-content: center;
}

.pics{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text{

    font-size: 42px;
    font-weight: bolder;
}

ul{

    display: flex;
    justify-content: space-around;
    gap: 10px;

}

a{

    text-decoration: none;
}

ul{
    list-style: none;
}